.form {
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 5px;
}

.task {
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 5px;
}

li.task {
  display: flex;
  flex-direction: column;
}